
<header class="py-3 " >
    <div class="container-fluid  x mt-5 py-5 ">
        <div class="row">
            <div class="col-md-8 py-5 ">
                <div class="contentSpecial">
                    <h5>تريد أخذ مسار جديد في حياتك المهنية</h5>
                    <h1><span class="remark">استعد</span> للتميز : قم بتطوير نفسك من خلال  <span class="remark">التعلم !</span></h1>
                    <p>استعد للتميز :قم بتطوير نفسك من حلال التعلم!استعد للتميز قم بتطوير نفسك من خلال التعلم! </p>
                    <div class="contact">
                        <p>تواصل معنا</p>
                        <div class="contactUs">
                            <div><i class="fab fa-facebook"></i></div>
                            <div><i class="pi pi-instagram"></i></div>
                            <div><i class="pi pi-youtube"></i></div>
                            <div><i class="pi pi-twitter"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="cover">
                    <div>
                        <img src="assets/images/thinking.png" class="img-fluid" alt="استعد للتميز">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
