.container-fluid
{
    background-color: #F8F9F9;
}
.rowSpacing
{
    margin-bottom: 20px;
    padding-top: 20px;
}
.heading
{
    color: #A5A5A5;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -1.1%;
}
.headingLine
{
    color: black;
}
.trainerProfile
{
    background-color: #F8F9F9;
    border-radius: 8px;
    padding: 20px 12px;
}

.trianerInfo p 
{
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 29.9px;
}
.col-md-8
{
    padding: 0px !important;
    margin: 0px !important;
    right: 0px;
}
.tabs
{
    width: 100%  !important;
    margin:0px;
    padding: 0px;
}
.tabs li
{
    margin-right: 20px;
}
.tabs a
{
    font-weight: 500;
    font-size: 16px;
    color: gray;
    line-height: 29.98px;
}
.stand
{
    color: #33312C    !important;
    border-bottom: 1px solid #33312C    ;
}
.coursesImage
{
    background-color: black;
    width: 54px;
    height: 54px;
    border-radius: 6.75px;
}
.courseData 
{
    margin-right: 17% !important ;
}
.courseData h5
{
    color: #33312C;   
    font-size: 14px;
    font-weight: 600;    
    line-height: 23px;
}
.courseData p
{
    color: #33312C;   
    font-size: 12px;
    font-weight: 600;    
    line-height: 19.8px;
}

.trainerContainer
{
    padding-left: 20px !important;
    padding-right:20px !important;
}
.trainerContainer .row
{
    border-radius: 8px;
    border: 1px solid rgb(168, 167, 167);
    padding-top: 2px;
}

.certificates ul
{ 
    margin-right: 20px;
}
.certificates ul li
{
    list-style: square;
    color: #3F64AB ;
}
.certificates ul li a 
{
    color:#3F64AB;
    font-weight: 600;
    font-size: 14px;
}
.certificates ul li a i
{
    background-color: #FB9C46;
    color: white;
    font-size: 12px;
    padding: 2px;
    border-radius: 2px;
}
.certificates .places
{
}
.certificates .places img
{
    width: 28px;
    height: 28px;
    margin: 0px !important;
    padding:0px !important ;
}
 .showDetails
{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .showDetails a 
{
    text-decoration: none;
    color: #AC7FB9    ;
    font-size: 18px;
    font-weight: 500;    
    line-height: 29.7px;
    padding: 4px 8px 4px 8px ;
    border-radius: 8px;
    border: 1px solid  #AC7FB9;
    gap: 10;
}
.certificates .places p
{
    width: 90%;
    color: #33312C;
    font-weight: 500;
    font-size: 14px;
}
.certificates .places p span
{
    color: #3F64AB    ;
    font-weight: 400;
    font-size: 12px;    
    margin-right: 2px !important;
}
@media screen and (min-width: 1200px )and (max-width:1280px)
{
   
    .rowSpacing .col-md-6 .showDetails a
    {   
       width: 220px !important;
       line-height: 24px;
       gap: 8px !important;
       padding-right:  14px; ;
       font-size: 13px; 
       font-weight: 400; 
    } 
    .rowSpacing .col-md-6 .row .col-md-5
    {
        padding-right: 3%;
        width: 40%;
    }
}
@media screen and (min-width: 1100px )and (max-width:1199px)
{
    
   .rowSpacing .col-md-3
    {
        width: 20% !important;
        padding:  10px px !important;
    }
    .rowSpacing .col-md-3 .trainerProfile
    {
        padding: 0px 0px !important;
        text-align: center;
    }
    .rowSpacing .col-md-3 .trainerProfile  .trianerInfo
    {
        padding: 20px 20px;
    }
    .rowSpacing .col-md-8
    {
        width: 70% !important;   
        padding-right: 0px !important;
        margin-right: 10px !important;
    }
    .rowSpacing .col-md-8 .tabs
    {
        width: 100% !important;
    }
    .rowSpacing .col-md-8 .tabs a
    {
        font-size: 13px;
    }
}
@media screen and (min-width: 768px )and (max-width:1099px)
{
    .rowSpacing .col-md-3
    {
        width: 20% !important;
        padding:  10px px !important;
    }
    .rowSpacing .col-md-3 .trainerProfile
    {
        padding: 0px 0px !important;
        text-align: center;
    }
    .rowSpacing .col-md-3 .trainerProfile  .trianerInfo
    {
        padding: 20px 20px;
    }
    .rowSpacing .col-md-8
    {
        width: 75% !important;   
        padding-right: 0px !important;
        margin-right: 10px !important;
    }
    .rowSpacing .col-md-8 .tabs
    {
        width: 100% !important;
    }
    .rowSpacing .col-md-8 .tabs a
    {
        font-size: 13px;
    }
    .col-md-6 .row
    {
        background-color: white;
    }
    .col-md-6 .courseData
    {
       width: 100px !important;
       margin-right: 40% !important;
       padding: 0px !important;
       line-height: 20PX;
    }
    .col-md-6 .row .col-md-4
    {
        width: 30%;
    }
    .col-md-6 .courseData h5,p
    {
        font-size: 12px;    
    }
    .col-md-6 .showDetails a
    {   
       width: 120px !important;
       line-height: 22px;
       gap: 8px !important;
       padding-right:  12px; ;
       font-size: 12px;    
    } 
}
@media screen and (min-width: 250px )and (max-width:767px)
{
        .heading
    {
        color: #A5A5A5;
        font-weight: 400;
        letter-spacing: -1.1%;
    }
    .heading h5
    {
        font-size: 14px !important;
    }
        .rowSpacing .col-md-8 .tabs
    {
        width: 100% !important;
    }
    .rowSpacing .col-md-8 .tabs ul
    {
        width: 100% !important;
    }
    .rowSpacing .col-md-8 .tabs li
    {
        width: 25% !important;
        margin: 0 !important;
        padding-right: 1px;
    }
    .rowSpacing .col-md-8 .tabs a
    {
        font-size: 11px;
        width: 100% !important;
        padding-right: 5px;

    }
    .col-md-6 .row .col-md-1
    {
        width: 13%;
    }
    .col-md-6 .row .col-md-4
    {
        width: 37%;        
    } 
    .col-md-6 .row .col-md-5
    {
        margin-right: 0px !important;
        width: 50%;
        padding-right: 0% !important;
    }  
    .col-md-6 .row .col-md-5 .courseData
    {
        margin-right: 2% !important;

    }

 
}


