<div class="top-rated">
  <div class="section-title">
    <h2 class="mt-3">  مدربينا المميزين</h2>
    <img src="assets/images/top-rated(1).png" alt="">
    <p>يوجد لدينا نخبة من الأساتذة والمدربين الذين لديهم الكثير نت الخبرة
      في كل مجال من مجالاتهم</p>

  </div>
  <div class="container  position-relative">
     <div class="row opacity-row gy-3 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
      <div class="col">
        <div class="profile">
          <div class="image-holder">
            <img src="assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="profile">
          <div class="image-holder">
            <img src="../../../assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="profile">
          <div class="image-holder">
            <img src="assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="profile">
          <div class="image-holder">
            <img src="assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="profile">
          <div class="image-holder">
            <img src="assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="profile">
          <div class="image-holder">
            <img src="assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="profile">
          <div class="image-holder">
            <img src="assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="profile">
          <div class="image-holder">
            <img src="assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="profile">
          <div class="image-holder">
            <img src="assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="profile">
          <div class="image-holder">
            <img src="assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="profile">
          <div class="image-holder">
            <img src="assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="profile">
          <div class="image-holder">
            <img src="assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="profile">
          <div class="image-holder">
            <img src="assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="profile">
          <div class="image-holder">
            <img src="assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="profile">
          <div class="image-holder">
            <img src="assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>


    </div>

    <div class="opacity">
      <h3>عرض أكثر من 200 مدرب من الكفاءات العالية وخبرات متراكمة لدينا في المعهد</h3>

      <button type="button"> عرض جميع المدربين</button>

    </div>


    <!-- <div class="row mb-3 justify-content-lg-start justify-content-xl-between " >
      <div class="col-xxl-2 col-xl-3 col-lg-4  col-md-6 ">
        <div class="profile ">
          <div class="image-holder">
            <img src="../../../assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="../../../assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-3 col-lg-4  col-md-6 ">
        <div class="profile">
          <div class="image-holder">
            <img src="../../../assets/images/unsplash_sibVwORYqs0.png" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="../../../assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-3 col-lg-4  col-md-6 ">
        <div class="profile">
          <div class="image-holder">
            <img src="../../../assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="../../../assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class=" col-xxl-2 col-xl-3 col-lg-4 col-md-6   ">
        <div class="profile">
          <div class="image-holder">
            <img src="../../../assets/images/unsplash_sibVwORYqs0.png" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="../../../assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 ">
        <div class="profile">
          <div class="image-holder">
            <img src="../../../assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="../../../assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row  justify-content-lg-start justify-content-xl-between">
      <div class="col-xxl-2 col-xl-3 col-lg-4  col-md-6 ">
        <div class="profile">
          <div class="image-holder">
            <img src="../../../assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="../../../assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-3 col-lg-4  col-md-6 ">
        <div class="profile">
          <div class="image-holder">
            <img src="../../../assets/images/unsplash_sibVwORYqs0.png" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="../../../assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-3 col-lg-4  col-md-6 ">
        <div class="profile">
          <div class="image-holder">
            <img src="../../../assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="../../../assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-3 col-lg-4  col-md-6 ">
        <div class="profile">
          <div class="image-holder">
            <img src="../../../assets/images/unsplash_sibVwORYqs0.png" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="../../../assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-3 col-lg-4  col-md-6">
        <div class="profile">
          <div class="image-holder">
            <img src="../../../assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="../../../assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row  justify-content-lg-start justify-content-xl-between  mt-4  position-relative opacity-row ">
      <div class="col-xxl-2 col-xl-3 col-lg-4  col-md-6 ">
        <div class="profile">
          <div class="image-holder">
            <img src="../../../assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="../../../assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col ">
        <div class="profile">
          <div class="image-holder">
            <img src="../../../assets/images/unsplash_sibVwORYqs0.png" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="../../../assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="profile">
          <div class="image-holder">
            <img src="../../../assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="../../../assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col ">
        <div class="profile">
          <div class="image-holder">
            <img src="../../../assets/images/unsplash_sibVwORYqs0.png" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="../../../assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="col ">
        <div class="profile">
          <div class="image-holder">
            <img src="../../../assets/images/unsplash_sibVwORYqs0.jpg" alt=" ">
          </div>
          <h3>عبدالحمن غريب السيد</h3>
          <div class="course-name">
            <img src="../../../assets/images/vuesax/bold/designtools.png" alt="">
            <span>مسار السياحة</span>
          </div>
        </div>
      </div>
      <div class="displayMore ">
      </div>
    </div> -->

  </div>
</div>

