.section-title {
  text-align: center;
  margin-bottom: 20px;

}
.section-title h2 {
  font-size: 36px;
  font-weight: 600;
}
.section-title p {
  font-weight: 400;
  font-size: 18px;
  color:rgba(0, 0, 0, 0.75);
  /* margin: 12px; */
  /* width: 503px; */
  margin: auto;
}
.row {
padding: 0 20px;
max-width: 90%;
margin: auto;


}
.image-holder {
  /* width: 186px; */
  /* height: 186px;
  width: 100%; */
}
.image-holder img {
  margin-bottom: 16px;
  /* width: 100%; */
  /* width: 100%; */
  width: 150px;
  height: 150px;


}
img {
  border-radius: 50%;

}
.profile {
  text-align: center;

}

.profile  h3 {

  font-weight: 600;
  color:rgba(0, 0, 0, 1);
  font-size: 16px;

}
.course-name {
  text-align: center;

}
.course-name img {
  padding: 0 4px;
}
.course-name span {
  font-weight: 400px;
  font-size: 12px;
  color: rgba(62, 50, 50, 0.75);
}
.opacity
{
  text-align: center;
  position: absolute;
  bottom: 10px;
   z-index: 100;
   width: 100%;
   padding: 40px;
   /* background-color: white; */
  background: linear-gradient(transparent,white,white,white);
  bottom: 3px;




}
.opacity h3 {
  color:rgba(0, 0, 0, 1);
  font-weight: 600;
  font-size: 16px;


}
.opacity-row::after {
  content: "";
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(transparent,white); */
  pointer-events: none;

}
.opacity button {
  background-color: rgba(8, 8, 8, 1);
  color: rgba(255, 255, 255, 1);
  padding: 12px 16px;
  border-radius: 10px;
  border: none;
  margin: 12px;

}
