<!-- <div class="form">
 <div class="container">
  <div class="row  gy-3 align-content-center">
    <div class="col-lg-6 col-md-12">
      <div class="text">
        <h2><span>للتواصل</span> مع المعهد والإستفسار عن أي شئ وكيفية <span>الإلتحاق</span></h2>

      </div>
    </div>
    <div class="col-lg-6 col-md-12 d-flex align-items-center">
      <form >
        <input type="text" placeholder="البريد الإلكتروني">
        <button type="button">إرسال</button>

      </form>
    </div>
  </div>
 </div>
</div>

 -->


 <div class="container">



      <div class="text-container">
       <h2>
          <span class="highlight">للتواصل</span>مع المعهد والإستفسار عن أي شيء وكيفية    <span class="highlight">الإلتحاق</span>
       </h2>
   </div>



       <div class="form-container">
      <form class="contact-form">
          <input type="email" placeholder="البريد الإلكتروني" class="email-input">
          <button type="submit" class="submit-button">إرسال</button>
      </form>
  </div>






</div>
