/*
.form {

  padding: 70px;
  background-color: gray;
}

.text {
  width: 65%;
}
.text h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 59.4px;
}
.text h2 span {
  color: rgba(63, 100, 171, 1);
}
form {
  padding: 20px;
  background-color:white;
  border-radius: 12px;
  display: flex;

}
form , input  {
width: 80%;
border: none;
padding: 10px;
margin-right: 10px;
}
input:focus {
  outline: none;
}
input::placeholder
{
  color: rgba(8, 8, 8, 0.25);
}
form button {
  background-color: rgba(8, 8, 8, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 10px 24px;
}














 */




 .container {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
  margin-right: 96px;

}

.form-container {
  background-color: rgba(90, 105, 242, 1);
  border-radius: 20px;
  padding: 129px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  flex: 1;
  position: relative;
  border-bottom-right-radius: 126px;
  border-top-right-radius: 74px;
   width: 20%;
     flex-wrap: wrap;
}

.contact-form {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  /* overflow: hidden; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  position: absolute;
  left: 92px;
  padding:8px 20px;
  width: 90%;
  flex-wrap: wrap;

  /* position: absolute; */

}

.email-input {
  border: none;
  padding: 15px;
  outline: none;
  flex: 1;
  font-size: 16px;
  border-radius: 10px 0 0 10px;
}

.submit-button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0 10px 10px 0;
}

.text-container {
  flex: 2;
  text-align: right;
  min-width: 50%;
  /* background-color: red; */
  margin-bottom: 20px;
  margin-left: 80px;
  /* margin-right: -82px; */

}

.text-container h2 {

  color: #333;
  margin: 0;
  line-height: 1.5;
  /* width: 60%; */
  /* line-height: 60; */
  font-size: 36px;
  /* font-family: ""; */
  font-weight: bold;
  font-family: 'Cairo', sans-serif;

}

.text-container .highlight {
  color: #5562ea;
  margin: 0 10px;
}
