
.logo-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 0.75px solid #8A8A8A80; */
  flex-wrap: wrap;
  margin-top: 30px;

  padding-bottom: 10px;
  margin-bottom: 20px;

}
.logo-social .social-linkes {
  display: flex;
  align-items: center;


}
.logo-social .social-linkes i {
  margin:  0 10px;
  font-size: 20px;
  cursor: pointer;
}
.logo-social .social-linkes i.fa-facebook {
  color: #1877F2;
}
.logo-social .social-linkes i.fa-youtube {
  color: #FF0000;
}
.logo-social .social-linkes i.fa-instagram {
  color: white;
  background-image: url(../../../assets/images/Gradient.png);
  background-position: center;

}
.logo-social .social-linkes i  {
  color:black;

}
.content-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom:0.75px solid rgba(138, 138, 138, 50%) ;
  padding: 10px 0 ;
  border-top:0.75px solid rgba(138, 138, 138, 50%);
  margin-bottom: 10px;

}


.content-column {
  display: flex;

}
.content-column ul {
  margin-bottom: 0!important
}



ul li {
  margin: 15px 0;
}
ul li a {
  color: rgba(51, 49, 44, 60%);
}


.copy-Rights {
display: flex;
justify-content: space-between;
width: 70%;
margin: auto;
flex-wrap: wrap;
}
.copy-Rights p {
  color:rgba(51, 49, 44, 60%);

}
.right {
  display: flex;
  justify-content: space-between;
}
.right p {
  margin: 0 15px;
  color:rgba(51, 49, 44, 60%);
}
.last-column ul {
  width: 100%;
}

