<div class="footer">
 <div class="container">
  <div class="logo-social">
    <div class="log">
      <img src="assets/images/logo.png" alt="">

    </div>
    <div class="social-linkes">
     <a target="_blank" href="https://www.facebook.com/?locale=ar_AR"> <i class="fab fa-facebook"></i></a>
     <a target="_blank" href="https://www.youtube.com/?app=desktop&hl=ar"> <i class="fab fa-youtube"></i></a>
     <a target="_blank" href="https://www.instagram.com/"> <i class="fab fa-instagram"></i></a>
     <a target="_blank" href="https://x.com/?lang=ar"> <i class="fa-brands fa-x-twitter"></i></a>


    </div>
  </div>

  <div class="content-container ">

      <div class="content-column">
        <!-- <h4>عن المعهد</h4> -->
        <ul>
          <li><a routerLink="/usage-policy">سياسة الاستخدام</a></li>
          <li><a href="">سياسة الخصوصية</a></li>
          <li><a href="">سياسة الدفع</a></li>
        </ul>
        <ul>
          <li><a href="">الشكاوى والاقتراحات</a></li>
        </ul>
        </div>


      <div class="content-column">
        <!-- <h4>المسارات التدريبية</h4> -->
        <ul>
          <li><a routerLink="/weare">عن المعهد </a></li>
          <li><a href="#">الرؤية والرسالة</a></li>
          <li><a href="#">أهداف المعهد</a></li>
        </ul>
        <ul>
          <li><a routerLink="/team">الفريق الإداري</a></li>
          <li><a routerLink="/licensses">التراخيص والاعتمادات</a></li>
          <li><a routerLink="/documention">توثيق المركز السعودي للاعمال</a></li>
        </ul>
      </div>


      <div class="content-column  ">
        <!-- <h4>المعهد</h4> -->

        <ul>
          <li>
            <a href="#">تواصل معنا </a>
          </li>
          <li>
            <a routerLink="/joinUs">انضمام الأفراد (انضم لنا كمتدرب)</a>
          </li>
          <li>
            <a href="/asCompany">انضمام الشركات ( انضم لنا كشركة )</a>
          </li>
        </ul>
      </div>
      <!-- <div class="content-column  ">
        <h4>وسائل التواصل </h4>

        <ul>
          <li>
            <a href="#">+20 - 02 444 555 00</a>
          </li>
          <li>
            <a href="#">+20 - 02 444 555 00</a>
          </li>
          <li>
            <a href="#">user@ucti.com</a>
          </li>
        </ul>
      </div> -->


  </div>

  <div class="copy-Rights">
    <div class="right">
      <p>الشروط والأحكام</p>
      <p>سياسة الخصوصية</p>
    </div>
    <p>جميع الحقوق محفوظة © UCTI</p>
  </div>
 </div>
</div>
