<div class="articles px-5">
  <div class="container">
  <div class="row">
    <div class="col-md-4 ">
      <form action="" class="form-search">
        <img src="../../../assets/images/search-icon.png" alt="search-icon">
        <input type="text" placeholder="بحث">
      </form>
    </div>
  </div>

    <div class="row gy-2 ">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card" >
          <div class="card-body">
            <img class="w-100" src="assets/images/Rectangle 21922.png"  alt="...">
            <div class="clock">  <i class="fa-regular fa-clock"></i> <span>منذ ساعة </span></div>
            <h2 class="card-title">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</h2>
            <p class="card-text">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة  التي يقرأها.</p>
            <div class="readMore">قراءة المزيد..</div>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card" >


          <div class="card-body">
            <img src="assets/images/Rectangle 21922.png" class="card-img-top" alt="...">
            <div class="clock">   <i class="fa-regular fa-clock"></i><span>منذ ساعة </span></div>
            <h2 class="card-title">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</h2>
            <p class="card-text">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة  التي يقرأها.</p>
            <div class="readMore">قراءة المزيد..</div>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <img src="assets/images/Rectangle 21922.png" class="card-img-top" alt="...">
            <div class="clock"> <i class="fa-regular fa-clock"></i>  <span>منذ ساعة </span></div>
            <h2 class="card-title">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</h2>
            <p class="card-text">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة  التي يقرأها.</p>
            <div class="readMore">قراءة المزيد..</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <img src="assets/images/Rectangle 21922.png" class="card-img-top" alt="...">
            <div class="clock"> <i class="fa-regular fa-clock"></i>  <span>منذ ساعة </span></div>
            <h2 class="card-title">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</h2>
            <p class="card-text">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة  التي يقرأها.</p>
            <div class="readMore">قراءة المزيد..</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <img src="assets/images/Rectangle 21922.png" class="card-img-top" alt="...">
            <div class="clock"> <i class="fa-regular fa-clock"></i>  <span>منذ ساعة </span></div>
            <h2 class="card-title">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</h2>
            <p class="card-text">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة  التي يقرأها.</p>
            <div class="readMore">قراءة المزيد..</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <img src="assets/images/Rectangle 21922.png" class="card-img-top" alt="...">
            <div class="clock"> <i class="fa-regular fa-clock"></i>  <span>منذ ساعة </span></div>
            <h2 class="card-title">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</h2>
            <p class="card-text">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة  التي يقرأها.</p>
            <div class="readMore">قراءة المزيد..</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <img src="assets/images/Rectangle 21922.png" class="card-img-top" alt="...">
            <div class="clock"> <i class="fa-regular fa-clock"></i>  <span>منذ ساعة </span></div>
            <h2 class="card-title">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</h2>
            <p class="card-text">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة  التي يقرأها.</p>
            <div class="readMore">قراءة المزيد..</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <img src="assets/images/Rectangle 21922.png" class="card-img-top" alt="...">
            <div class="clock"> <i class="fa-regular fa-clock"></i>  <span>منذ ساعة </span></div>
            <h2 class="card-title">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</h2>
            <p class="card-text">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة  التي يقرأها.</p>
            <div class="readMore">قراءة المزيد..</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <img src="assets/images/Rectangle 21922.png" class="card-img-top" alt="...">
            <div class="clock"> <i class="fa-regular fa-clock"></i>  <span>منذ ساعة </span></div>
            <h2 class="card-title">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</h2>
            <p class="card-text">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة  التي يقرأها.</p>
            <div class="readMore">قراءة المزيد..</div>
          </div>
        </div>
      </div>

      <!-- <button class="displyMore" type="button">عرض المزيد</button> -->


    </div>
    <div class="navclass row w-50 m-auto mt-4   ">
      <nav aria-label="Page navigation example ">
        <ul class="pagination text-center">
          <li class="page-item">

           <img src="../../../assets/images/arrow-right.png" alt="">
          </li>
          <li class=""><a  href="#">12</a></li>
          <li class="page-item"><a  href="#">......</a></li>
          <li class="page-item"><a  href="#">3</a></li>
          <li class="page-item"><a  href="#">2</a></li>

          <li class="page-item active"><a  href="#">1</a></li>
          <li class="page-item">
            <img src="../../../assets/images/arrow-left.png" alt="">
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
