.articles{
  padding: 30px;

 }
 .form-search {
  padding:12px 24px  ;
  background-color:#F8F9F9;

  border-radius: 8px;

 }
 .form-search input {
  border: none;
  margin-right: 10px;

 }
 .form-search input:focus {
  outline: none;
 }
 .form-search input::placeholder {
  color: #33312C;
 }
 .form-search img {
  width: 24px;
  height: 24px;
 }



 .article-header {
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
 }
 .card {
  width: 100% ;
  padding: 5px;
  border: none;

 }
 /* .card .img-hold img {
  width: 90%;
 } */
 .card .clock {
  margin-top: 5px;

 }
 .card .clock span {
  color: rgba(136, 141, 162, 1);

 }
 .card .clock i {
color: rgba(51, 49, 44, 1);
padding: 0 0 0 10px;
 }
 .card .card-body {
  width: 100%;

 }
 .card .card-body .card-title {
  width: 100%;
  font-weight:700;
  color: rgba(51, 49, 44, 1);
  font-size: 24px;
  line-height: 35.98px;




 }
 .card .card-body .card-text {
  color: rgba(136, 141, 162, 1);
  font-weight: 400;
  line-height:24.66px;



 }
 .card .card-body .readMore {
  color:rgba(136, 141, 162, 1);
  font-weight: 700;
  line-height:  24.66px;


 }

 .navclass {
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .navclass  ul {
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
 }
 .navclass  ul li {
  margin: 0 10px;

 }
 .navclass  ul li.active {
  /* background-color: #000000;
  padding:6px 10px;
  border-radius: 10px;
  width: 25px;
  height: 24px; */

 }
 .navclass  ul li.active a {
  color: white;
  font-size: 12px;
  font-weight: 500;
  background-color: #000000;
  padding:6px 10px;
  border-radius: 10px;
  width: 25px;
  height: 25px;
 }
 .navclass  ul li a {
  color:#33312C;
  font-size: 12px;
  font-family: "Poppins";

 }
 .navclass  ul li img {
  margin: 0 40px;


 }

 .image-container {
  width: 100%;
  height: 50%;
 }
 .image-container img {
  border-radius: 10px;
  width: 500px;
  height: 300px;
 }
