<section class="lines" id="lines">   
    <div class="container-fluid py-4  ">
        <div class="row ">
            <div class="col-md-11 mx-3 ">
                <div class="edulines">
                    <h4>المسارات التدريبية</h4>
                    <p>يمكنك أن تجد مسارك المناسب وتبدأ به الآن.</p>
                </div>
            </div>
        </div>
    </div>  

    <div class="container-fluid  traniningLine ">
        <a routerLink="">
            <div class="row  d-flex px-4 py-5 rightCircle ">
                <div class="semi-circle-right circle1"></div>
                <div class="col-md-8 my-2 py-3   ">
                    <div class="line1 one1">
                        <div class="lineContent one ">
                            <div class="imageContainer">
                                <div class="textContainer">
                                    <h2>1</h2>
                                </div>
                            </div>
                            <h1 class="mx-2">السياحة</h1>
                            <p class="mx-2 ">هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء...</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a routerLink="">
            <div class="row  d-flex px-4 py-5 leftCircle">
                <div class="semi-circle-left circle2"></div>
                <div class="col-md-8 my-2 py-3 ">
                    <div class="line1 two2">
                        <div class="lineContent two">
                            <div class="imageContainer">
                                <div class="textContainer">
                                    <h2>2</h2>
                                </div>
                            </div>
                            <h1 class="mx-2">الضيافة</h1>
                            <p class="mx-2">هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء...</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a routerLink="">
            <div class="row  d-flex px-4 py-5 rightCircle ">
                <div class="semi-circle-right circle3"></div>
                <div class="col-md-8 my-2 py-3  ">
                    <div class="line1 three3">
                        <div class="lineContent three ">
                            <div class="imageContainer">
                                <div class="textContainer">
                                    <h2>3</h2>
                                </div>
                            </div>
                            <h1 class="mx-2">التعليم</h1>
                            <p class="mx-2">هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء...</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a routerLink="">
            <div class="row  d-flex px-4 py-5 leftCircle ">
                <div class="semi-circle-left circle4"></div>
    
                <div class="col-md-8 my-2 py-3  ">
                    <div class="line1 four4">
                        <div class="lineContent four ">
                            <div class="imageContainer">
                                <div class="textContainer">
                                    <h2>4</h2>
                                </div>
                            </div>
                            <h1 class="mx-2">الصحة والسلامة المهنية</h1>
                            <p class="mx-2">هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء...</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a routerLink="">
            
        <div class="row  d-flex px-4 py-5 rightCircle ">
            <div class="semi-circle-right circle5"></div>
            <div class="col-md-8 my-2 py-3  five5">
                <div class="line1 ">
                    <div class="lineContent five ">
                        <div class="imageContainer">
                            <div class="textContainer">
                                <h2>5</h2>
                            </div>
                        </div>
                        <h1 class="mx-2">الأمن والحراسات الأمنية</h1>
                        <p class="mx-2">هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء...</p>
                    </div>
                </div>
            </div>
        </div>
        </a>
        
        <a routerLink="/trainingLines">
            <div class="row  d-flex px-4 py-5 leftCircle    ">
            <div class="semi-circle-left circle6"></div>
            <div class="col-md-8 my-2 py-3  ">
                <div class="line1 six6">
                    <div class="lineContent six ">
                        <div class="imageContainer">
                            <div class="textContainer">
                                <h2>6</h2>
                            </div>
                            </div>
                            <h1 class="mx-2">البرامج العامة</h1>
                            <p class="mx-2">هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء...</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        
    </div>
</section>