
<div class="licenses mt-5">
  <div class="container">
    <div class="row">
     <div class="d-flex">
       <h6 class="usage-path mb-3">الرئيسية/<span class="me-2 mb-2">سياسة الاستخدام</span></h6>
    </div>
      <h6 class=" save mb-3">رقم السجل الضريبي<span class="me-2">:31516516</span></h6>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card border-0" >
          <div class="card-body ">
            <img class="w-100" src="assets/images/licnsspng.png"  alt="...">
           <div class="d-flex align-items-center justify-content-between px-3">
            <h5  class="card-title mt-3 ">اسم الترخيص </h5>
            <i class="fa-solid fa-download"></i>
           </div>


          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card border-0" >
          <div class="card-body ">
            <img class="w-100" src="assets/images/licnsspng.png"  alt="...">
           <div class="d-flex align-items-center justify-content-between px-3">
            <h5  class="card-title mt-3 ">اسم الترخيص </h5>
            <i class="fa-solid fa-download"></i>
           </div>


          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card border-0" >
          <div class="card-body ">
            <img class="w-100" src="assets/images/licnsspng.png"  alt="...">
           <div class="d-flex align-items-center justify-content-between px-3">
            <h5  class="card-title mt-3 ">اسم الترخيص </h5>
            <i class="fa-solid fa-download"></i>
           </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
