
.joinUs h5
{
    font-size: 16px;
    font-weight:500 ;
    color: #8A8A8A    ;
    line-height: 28px;
}
.joinUs .detect
{
    border-bottom: 1px solid black;
}
.joinUs label   
{
    font-size:14px ;
    font-weight: 500;
    line-height: 26.24px;
    color: #33312C    ;
}

.joinUs input
{
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100% !important;
}
.joinUs select
{
    padding-top: 12px;
    padding-bottom: 12px;
}
.joinUs .send
{
    width:193px ;
    height: 48px;
    border-radius: 8px;
    border: 1px;
    padding: 8px 12px 8px 12px;
    gap: 10px;
    background-color: #3F64AB    ;
    color: white;
}
@media screen and (min-width: 320px) and (max-width:479px) 
{
    .phoneInput input
    {
        padding-right : 110px !important;
    }
}
@media screen and (min-width: 480px) and (max-width:667px) 
{
    .phoneInput input
    {
        padding-right : 400px !important;
    }
}
@media screen and (min-width:736px) and (max-width:1024px) 
{
    .phoneInput input
    {
        padding-right : 650px !important;
    }
}
@media screen and (min-width: 768px) and (max-width:1300px) 
{
    .phoneInput input
    {
        padding-right: 160px !important;
    }
}

@media screen and (min-width: 1600px) and (max-width:1899px) 
{
    .phoneInput input
    {
        padding-right: 380px !important;
    }

    
}
@media screen and (min-width:1900px) 
{
    .phoneInput input
    {
        padding-right: 470px  !important;
    }
    
}
