<div class="container-fluid   joinUs ">
    <div class="row  ">
        <div class="col-md-7">
            <div class="d-flex ">
                <h5>الرئيسية /  </h5>
                <h5 class="mx-2 text-black" > انضم لنا  </h5>
            </div>
            <div class="d-flex py-4 ">
                <h5 class="text-black detect">انضم لنا كمتدرب</h5>
                <a routerLink="/asCompany"><h5 class="mx-3 "> انضم لنا كشركة </h5> </a>
            </div>
            <form>
                
                <div class="row">
                    <div class="col-md-6 py-2 ">
                        <div class="">
                            <label class="form-label">الإٍسم بالكامل</label> <br>
                            <input type="text" class="form-control" placeholder="اسمك بالكامل">
                        </div>
                    </div>
                    <div class="col-md-6 py-2">
                        <div class="">
                            <label class="form-label">البريد الإلكتروني</label> <br>
                            <input type="email" class="form-control" placeholder="بريدك الإلكتروني">
                        </div>    
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6  col-sm-12">
                         <div class=" phoneInput  position-relative  ">
                            <label class="form-label">رقم جوال</label> <br>
                            <input id="phone" type="tel" class="form-control"  placeholder="" >
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 mt-2">
                        <div class="">
                            <label class form-label>اختار المسار التدريبي الذي ترغب بالانضمام له</label> 
                            <select class="form-select">
                              <option selected>Choose...</option>
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                            </select>
                        </div>
                    </div>
                </div>

                <button class="btn send my-4">أرسل طلبك</button>
            </form>
                    
        </div>                
    </div>
</div>
    
