.container-fluid
{
    padding-left: 4.9%;
    padding-right: 4.9%;
}
.future
{
    background-color: #F8F9F9;
}

.future .tittle
{
    color: #3F64AB;
    font-weight:600 ;
    font-size: 32px;
    padding-bottom: 30px;
}
.future .vesionMessage
{
    background-color: #e9e8e8;
    padding: 15px;
    border-radius: 8px;
}
.future .vesionMessage h5
{
    color: #33312C;
    font-weight:700 ;
    font-size: 24px;
}
.future .vesionMessage p
{
    color: #33312C;
    font-weight:400 ;
    font-size: 20px;
    line-height: 26.4px;
}
.future .goals h4
{
    color: #3F64AB;
    font-weight:600 ;
    font-size: 32px;
    line-height: 18.54px;
}

.future .goals h3
{
    font-weight:700 ;
    font-size: 36.62px;
    line-height: 60.42px;
}
.future .goals p
{
    font-weight:400 ;
    font-size: 36.62px;
}
.future .communicationandEffectiency
{
    padding: 10px;
    text-align: center;
}

.future .communicationandEffectiency img
{
    padding: 5px; 
    border-radius: 8px;
    width: 64px;
    height: 64px;
    background-color: #b6d3f7    ;
    font-size: 40px;
    color: #3F64AB;
}
.future .communicationandEffectiency h5
{
    font-weight:600 ;
    font-size: 24px;
    line-height: 26.4px;    
    padding-top: 5px;
    padding: bottom 5px; ;
}
.future .communicationandEffectiency p
{
    font-weight:500 ;
    font-size: 16px;
    line-height: 26.4px;        
}
.side
{
    content: " ";
    background-color: #3F64AB;
    border: 20px;
    position: absolute;
    width: 567px;
    height:252px;
    top: 30% ;
    right: -32.5%;
    border-radius: 120px;
    padding: 55px;
    opacity: 30%;
    transform: rotate(-90deg);
}
.inside
{
    content: " ";
    background-color: white;
    position: absolute;
    border: 20px;
    width: 460px;
    height: 150px;
    bottom: 0px ;
    right: 50%;
    border-radius: 80px; 
    padding: 20px;
}
@media screen and (max-width: 322px)
{
    .vesionMessage
    {
        margin-bottom: 8px;
    }
    .side
    {
        top: 10.5%;
        right: -700%;
        height: 400px;
        width: 200px !important;
    }
    .inside
    {
        border: 15px;
        width: 250px;
        height: 120px;
        top: 8%;
        bottom: 0px ;
        right: 7%;
        border-radius: 80px; 
        padding: 20px;
    }

}
@media screen and (min-width:321px) and (max-width: 573px)
{
    .vesionMessage
    {
        margin-bottom: 8px;
    }
    .side
    {
        top: 10.5%;
        right: -90%;
        height: 200px;
        width: 4000px;
    }
    .inside
    {
        border: 15px;
        width: 320px;
        height: 150px;
        top: 8%;
        bottom: 0px ;
        right: 5%;
        border-radius: 80px; 
        padding: 20px;
    }
}
@media screen and (min-width: 574px) and (max-width:665px) {
    .vesionMessage
    {
        margin-bottom: 8px;
    }
        .side
        {
            top: 14%;
            right: -69%;
            height: 200px;
        }
    
}
@media screen and (min-width: 666px) and (max-width: 992px) {
    .vesionMessage
    {
        margin-bottom: 8px;
    }
    .side
    {
        top: 13.5%;
        right: -55%;
        height: 200px;
        width: 490px;
    }
}
@media screen and (min-width: 993px) and (max-width: 1213px) {     
   .side
    {
        top: 21%;
        right: -33%;
        height: 220px;
        width: 430px;
    }
    
}
@media screen and (min-width: 1368px) and (max-width: 1600px) {

    .side
    {
        top: 26%;
        right: -22%;
        height: 220px;
        width: 430px;
    }
    .inside
    {
        border: 15px;
        width: 350px;
        height: 130px;
        top: 30%;
        bottom: 0px ;
        right: 9%;
        border-radius: 80px; 
        padding: 20px;
    }

}
@media screen and (min-width: 1601px) and (max-width: 1900px) {

}