<section class="future py-5">
    <div class="container-fluid">
        <div class="row position-relative">
            <div class="side"> 
                <div class="inside"></div>
            </div>
            
            <div class="col-md-12 text-center py-3 ">
                <h4 class="tittle">الرؤية والرسالة</h4>
            </div>
            <div class="col-md-6">
                <div class="vesionMessage">
                    <h5 class="py-2">الرؤية</h5>
                    <p>هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء أهم.</p>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="vesionMessage">
                    <h5 class="py-2">الرسالة</h5>
                    <p>هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء أهم.</p>
                </div>
            </div>
            <div class=" col-md-12 py-5  text-center">
                <div class="goals py-3">
                    <h4 class="py-3">أهدافنا</h4>
                    <h3>نسعي دائما لجعل الشباب مؤهل للسوق الحالي</h3>    
                    <p>مع الإلتزام بدورنا كمؤسسة تعليمية عالمية</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4  text-center ">
                    <div class="communicationandEffectiency">
                        <div><img src="assets/images/message-text.svg"></div>
                        <h5 class="my-3">التواصل</h5>
                        <p>ٍسيكون هناك تواصل دائم مع الطلبة لمعرقة مدي التقدم والإستيعاب لتقديم حلول مستقبلية جيدة.</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="communicationandEffectiency">
                        <div><img src="assets/images/user.svg"></div>
                        <h5 class="my-3">كفاءة المدربين</h5>
                        <p>ٍسيكون هناك تواصل دائم مع الطلبة لمعرقة مدي التقدم والإستيعاب لتقديم حلول مستقبلية جيدة.</p>
                    </div>
                </div>
                <div class="col-md-4 text-center ">
                  <div class="communicationandEffectiency">
                    <div><img src="assets/images/book.svg"></div>
                    <h5 class="my-3">كفاءة المناهج</h5>
                    <p>ٍسيكون هناك تواصل دائم مع الطلبة لمعرقة مدي التقدم والإستيعاب لتقديم حلول مستقبلية جيدة.</p>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>

