<section>
    <div class="container-fluid aboutUsContainer pt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="imageContainer ">
                    <img src="assets/images/rightAbout.png">
                </div>
            </div>
            <div class="col-md-6">
                <div class="aboutUs ">
                    <h3>من نحن !</h3>
                    <img src="assets/images/underAboutUs.png" > 
                    <p class="">
                        تأسس معهد تعليم المسارات المهنية المتعددة كمؤسسة تعليمية رائدة في مجال تزويد  الطلاب بفرص تعليمية متنوعة في <span class="color">المملكة العربية السعودية</span>. يعتبر المعهد  جزءًا من مجموعة ال التعليمية، وهي مجموعة تعليمية مرموقة تحظى بخبرة  وامكانيات عالية في مجال التعليم. رئيس مجلس إدارة مجموعة ال التعليمية هو أيضًا <span class="color">رئيس مجلس الجامعة السعودية للعلوم التطبيقية  والتكنولوجيا</span>، وهو عضو في عدة هيئات تعليمية رفيعة المستوى. تلك الاشتراكية  تعزز مصداقية المعهد وشبكته الواسعة في مجال التعليم.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="imageContainer ">
                    <img src="assets/images/leftAbout.png">
                </div>
            </div>
        </div>
    </div>
</section>