.row {
  width: 80%;
}

.usage-path  {
  color:#A5A5A5 ;
}
.usage-path span {
  color: black;
}

.card {
  background-color: #F8F9F9;
  border-radius: 10px;
  box-shadow: 0px 0px 48px 0px #00000026;

}

.card-title {
  color:#111A45;
  font-size: 20px;
  font-weight: 500;

}



.job {
  color: #888DA2;
  font-size: 18px;
  font-weight: 500;
}
