<div class="team mt-5 mb-5">
  <div class="container">
    <h6 class="usage-path mb-3">
      الرئيسية/<span class="me-2">الفريق الإداري</span>
    </h6>
    <div class="row m-auto">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card border-0">
          <div class="card-body text-center">
            <img class="w-100" src="assets/images/team.png" alt="..." />
            <h5 class="card-title mt-3" (click)="mylog()">
              عبدالرحمن أحمد حمد
            </h5>
            <p class="job">رئيس مجلس الإدارة</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card border-0">
          <div class="card-body text-center">
            <img class="w-100" src="assets/images/team.png" alt="..." />
            <h5 class="card-title mt-3">عبدالرحمن أحمد حمد</h5>
            <p class="job">رئيس مجلس الإدارة</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card border-0">
          <div class="card-body text-center">
            <img class="w-100" src="assets/images/team.png" alt="..." />
            <h5 class="card-title mt-3">عبدالرحمن أحمد حمد</h5>
            <p class="job">رئيس مجلس الإدارة</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card border-0">
          <div class="card-body text-center">
            <img class="w-100" src="assets/images/team.png" alt="..." />
            <h5 class="card-title mt-3">عبدالرحمن أحمد حمد</h5>
            <p class="job">رئيس مجلس الإدارة</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card border-0">
          <div class="card-body text-center">
            <img class="w-100" src="assets/images/team.png" alt="..." />
            <h5 class="card-title mt-3">عبدالرحمن أحمد حمد</h5>
            <p class="job">رئيس مجلس الإدارة</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card border-0">
          <div class="card-body text-center">
            <img class="w-100" src="assets/images/team.png" alt="..." />
            <h5 class="card-title mt-3">عبدالرحمن أحمد حمد</h5>
            <p class="job">رئيس مجلس الإدارة</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
