<p>about works!</p>
<p-accordion [activeIndex]="0">
  <p-accordionTab header="Header I">
      <p>
          Lorem ipsum dolor sit amet...
      </p>
  </p-accordionTab>
  <p-accordionTab header="Header II">
      <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
      </p>
  </p-accordionTab>
  <p-accordionTab header="Header III">
      <p>
          At vero eos et accusamus et iusto odio dignissimos...
      </p>
  </p-accordionTab>
</p-accordion>


<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>
