.article_perview {
  padding: 20px;
}
.path span  {
 color:#A5A5A5;
 font-weight: 500;
}
.path p {
  color: #000000;
  font-weight: 500;
}
.card-text{
  color: #535355;
  font-size: 20px;
  line-height: 32px;
}
.card-title-left {
  color:#A5A5A5;
  font-weight: 700;
  font-size: 20px;

}
.card{
  border: none;

}
.image-container{
  max-width:1240px;
 max-height:477px;
  border-radius:10px;
  margin: 10px 0px;


}
.image-container img {

  border-radius: 10px;
  width: 100%;
  max-height:477px;
}
.image-width {
  height: 200px;
  border-radius: 10px;
  width: 100%;
}
