<div class="container-fluid py-4 px-4 ">
   
    <div class="row rowSpacing  bg-white">
        <div class="heading d-flex  mb-4">
            <h5>المسارات التعلمية /  </h5>
            <h5 class="headingLine mx-2"> مسار السياحة /</h5>
            <h5 class="mx-2"> اسم الدورة </h5>
        </div>
        <div class="col-md-3    d-flex p-2">
            <div class="trainerProfile p-3 pb-4  ">
                <div class="imagContainer">
                    <img src="assets/images/courseImage.jfif" class="img-fluid" alt="">
                    <div class="state">
                        <p>حضورية</p>
                    </div>
                </div>
                <div class="courseData py-2">
                    <h5>اسم الدورة</h5>
                    <div class="d-flex courseTime">
                        <p>14 يوم . </p>
                        <p>12 ساعة</p>
                    </div>
                </div>
                <a href="" class=""> تواصل معنا للإستفسار <i class="fa-brands fa-whatsapp px-1"></i></a>
                
            </div>
        </div>
        <div class="col-md-8 pt-1">
            <div class="tabs ">
                <ul class="d-flex ">
                    <li ><a href="" class="stand">تفاصيل الدورة</a></li>
                    <li><a href="">الأهداف</a></li>
                    <li><a href=""> المحاور</a></li>
                    <li><a href="">مكان و موعد إقامة الدورة</a></li>
                </ul>    
            </div>
            <div class="paragContainer">
                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة  التي يقرأها هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ.</p>
            </div>

        
        </div>
    </div>
    <div class="row rowSpacing  bg-white">
        <div class="heading d-flex  mb-4">
            <h5>المسارات التعلمية /  </h5>
            <h5 class="headingLine mx-2"> مسار السياحة /</h5>
            <h5 class="mx-2"> اسم الدورة </h5>
        </div>
        <div class="col-md-3   d-flex p-2">
            <div class="trainerProfile p-3 pb-4  ">
                <div class="imagContainer">
                    <img src="assets/images/courseImage.jfif" class="img-fluid" alt="">
                    <div class="state">
                        <p>حضورية</p>
                    </div>
                </div>
                <div class="courseData py-2">
                    <h5>اسم الدورة</h5>
                    <div class="d-flex courseTime">
                        <p>14 يوم . </p>
                        <p>12 ساعة</p>
                    </div>
                </div>
                <a href="" class=""> تواصل معنا للإستفسار <i class="fa-brands fa-whatsapp px-1"></i></a>
                
            </div>
        </div>
        <div class="col-md-8 pt-1 ">
            <div class="tabs ">
                <ul class="d-flex ">
                    <li ><a href="" >تفاصيل الدورة</a></li>
                    <li><a href="" class="stand">الأهداف</a></li>
                    <li><a href=""> المحاور</a></li>
                    <li><a href="">مكان و موعد إقامة الدورة</a></li>
                </ul>    
            </div>
            <div class="paragContainer pt-3 d-flex">
                <div class="goals d-flex w-25 ">
                    <i class="fa-solid fa-circle-check pt-2 "></i>
                    <p class="px-2">قادر على مواكبة سوق العمل</p>    
                </div>
                <div class="goals d-flex w-25 ">
                    <i class="fa-solid fa-circle-check pt-2 "></i>
                    <p class="px-2">قادر على مواكبة سوق العمل</p>    
                </div>
                <div class="goals d-flex w-25 ">
                    <i class="fa-solid fa-circle-check pt-2 "></i>
                    <p class="px-2">قادر على مواكبة سوق العمل</p>    
                </div>
                <div class="goals d-flex w-25 ">
                    <i class="fa-solid fa-circle-check pt-2 "></i>
                    <p class="px-2">قادر على مواكبة سوق العمل</p>    
                </div>
            </div>
            <div class="paragContainer d-flex">
                <div class="goals d-flex w-25 ">
                    <i class="fa-solid fa-circle-check pt-2 "></i>
                    <p class="px-2">قادر على مواكبة سوق العمل</p>    
                </div>
                <div class="goals d-flex w-25 ">
                    <i class="fa-solid fa-circle-check pt-2 "></i>
                    <p class="px-2">قادر على مواكبة سوق العمل</p>    
                </div>
            </div>
        
        </div>
    </div>
    <div class="row rowSpacing  bg-white">
        <div class="heading d-flex  mb-4">
            <h5>المسارات التعلمية /  </h5>
            <h5 class="headingLine mx-2"> مسار السياحة /</h5>
            <h5 class="mx-2"> اسم الدورة </h5>
        </div>
        <div class="col-md-3    d-flex p-2">
            <div class="trainerProfile p-3 pb-4  ">
                <div class="imagContainer">
                    <img src="assets/images/courseImage.jfif" class="img-fluid" alt="">
                    <div class="state">
                        <p>حضورية</p>
                    </div>
                </div>
                <div class="courseData py-2">
                    <h5>اسم الدورة</h5>
                    <div class="d-flex courseTime">
                        <p>14 يوم . </p>
                        <p>12 ساعة</p>
                    </div>
                </div>
                <a href="" class=""> تواصل معنا للإستفسار <i class="fa-brands fa-whatsapp px-1"></i></a>
                
            </div>
        </div>
        <div class="col-md-8 pt-1">
            <div class="tabs ">
                <ul class="d-flex ">
                    <li ><a href="" >تفاصيل الدورة</a></li>
                    <li><a href="">الأهداف</a></li>
                    <li><a href="" class="stand"> المحاور</a></li>
                    <li><a href="">مكان و موعد إقامة الدورة</a></li>
                </ul>    
            </div>
            <div class="paragContainer">
                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة  التي يقرأها هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ.</p>
            </div>

        
        </div>
    </div>
    <div class="row rowSpacing pb-5 bg-white">
        <div class="heading d-flex  mb-4">
            <h5>المسارات التعلمية /  </h5>
            <h5 class="headingLine mx-2"> مسار السياحة /</h5>
            <h5 class="mx-2"> اسم الدورة </h5>
        </div>
        <div class="col-md-3    d-flex p-2">
            <div class="trainerProfile p-3 pb-4  ">
                <div class="imagContainer">
                    <img src="assets/images/courseImage.jfif" class="img-fluid" alt="">
                    <div class="state">
                        <p>حضورية</p>
                    </div>
                </div>
                <div class="courseData py-2">
                    <h5>اسم الدورة</h5>
                    <div class="d-flex courseTime">
                        <p>14 يوم . </p>
                        <p>12 ساعة</p>
                    </div>
                </div>
                <a href="" class=""> تواصل معنا للإستفسار <i class="fa-brands fa-whatsapp px-1"></i></a>
                
            </div>
        </div>
        <div class="col-md-8 pt-1">
            <div class="tabs ">
                <ul class="d-flex ">
                    <li ><a href="" >تفاصيل الدورة</a></li>
                    <li><a href="">الأهداف</a></li>
                    <li><a href=""> المحاور</a></li>
                    <li><a href="" class="stand">مكان و موعد إقامة الدورة</a></li>
                </ul>    
            </div>
            <div class="paragContainer">
                <div class="row ">
                    <div class="col-md-5  d-flex ">
                        <div class="TimeContainer ">
                            <div class="coursesImage">
                                <i class="fa-solid fa-calendar-days"></i>
                            </div>
                        </div>
                        <div class="TimeData mx-2">
                            <div class="courseData px-2">
                                <h5>2 فبراير  - 9 فبراير 2024 </h5>
                                <div class="d-flex courseTime">
                                    <p> 06:00 مساءً -  </p>
                                    <p class="px-1">03:00 مساءً</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex ">
                        <div class="TimeContainer ">
                            <div class="coursesImage">
                                <img src="/assets/images/map.svg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="TimeData ">
                            <div class="courseData px-2">
                                <h5>2 فبراير  - 9 فبراير 2024 </h5>
                                <div class="d-flex courseTime">
                                    <p> 06:00 مساءً -  </p>
                                    <p class="px-1">03:00 مساءً</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 googleMaps">
                        <img src="/assets/images/Mapsicle Map.svg" class="img-fluid" alt="googleMaps">
                    </div>
                </div>
            </div>

        
        </div>
    </div>
   
</div>