<div class="container-fluid py-4  joinUs ">
    <div class="row  ">
        <div class="col-md-7">
            <div class="d-flex ">
                <h5>الرئيسية /  </h5>
                <h5 class="mx-2 text-black" > انضم لنا  </h5>
            </div>
            <div class="d-flex py-4 ">
                <a routerLink="/joinUs"> <h5 class="">انضم لنا كمتدرب</h5></a>
                <a routerLink="/asCompany"><h5 class="mx-3 text-black detect"> انضم لنا كشركة </h5> </a>
            </div>
            <form>
                <div class="row">
                    <div class="col-md-6 py-2 ">
                        <div class="">
                            <label class="form-label">اسم الشركة </label> <br>
                            <input type="text" class="form-control" placeholder="اسم الشركة ">
                        </div>
                    </div>
                    <div class="col-md-6 py-2">
                        <div class="">
                            <label class="form-label">البريد الإلكتروني</label> <br>
                            <input type="email" class="form-control" placeholder="بريد الشركة الإلكتروني">
                        </div>    
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6  col-sm-12">
                         <div class="   ">
                            <label class="form-label"> موقع الشركة</label> <br>
                            <select class="form-select">
                                <option selected>موقع الشركة</option>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 mt-2">
                        <div class="">
                            <label class form-label>عدد الموظفين المطلوب تدريبهم</label> 
                            <input type="text" class="form-control" placeholder="00  ">
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6  col-sm-12">
                         <div class="   ">
                            <label class="form-label"> اختر المسار التدريبي  </label> <br>
                            <select class="form-select">
                                <option selected>اختر المسار </option>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 mt-2">
                        <div class="">
                            <label class form-label>الدورات التدربيبة المطلوبة <span class="color">(اختياري)</span>   </label> 
                            <input type="text" class="form-control" placeholder="اكتب هنا  ">
                        </div>
                    </div>
                </div>
                <button class="btn send my-4">أرسل طلبك</button>
            </form>
                    
        </div>                
    </div>
</div>
    
