<div class="student-opinion" id="student-op">
<div class="container">
  <div class="row align-items-center gy-4">

    <div class="col-lg-6 col-md-12 ">
      <div class="text-content">
      <h1>بعض من آراء <span class="trainer">المتدربين</span></h1>
      <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ عن التركيز على الشكل.</p>
    </div>
    </div>
    <div class="col-lg-6 col-md-12 ">
      <div class="poinion">
        <ul>
          <li>
            <i class="fa-solid fa-star"></i>
          </li>
          <li>
            <i class="fa-solid fa-star"></i>
          </li>
          <li>
            <i class="fa-solid fa-star"></i>
          </li>
          <li>
            <i class="fa-solid fa-star"></i>
          </li>
          <li>
            <i class="fa-solid fa-star"></i>
          </li>
        </ul>
        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة  التي يقرأها لقارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة  التي يقرأها.</p>
        <div class="studen-profile">
          <div class="image-holder">
            <img src="assets/images/Photo.png" alt="student image">
          </div>
          <div class="student-data">
            <h4>شريف محمد السيد</h4>
            <p>خريج مسار السياحة سنة 2022</p>
          </div>
        </div>
        <div class="silder-controls">
          <ul class="points">
            <li >

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li class="active">

            </li >

          </ul>
          <ul class="controls-arow">
            <li >
              <i class="fa-solid fa-angle-right"></i>
            </li>
            <li class="left">
               <i class="fa-solid fa-angle-left"></i>
            </li>

          </ul>
        </div>
      </div>


    </div>




  </div>
</div>

</div>
