 .articles{
  background-color: rgba(248, 249, 249, 1);
  padding: 30px;

 }
 .article-header {
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
 }
 .card {
  width: 100% ;
  padding: 5px;
  border: none;

 }
 /* .card .img-hold img {
  width: 90%;
 } */
 .card .clock {
  margin-top: 5px;

 }
 .card .clock span {
  color: rgba(136, 141, 162, 1);

 }
 .card .clock i {
color: rgba(51, 49, 44, 1);
padding: 0 0 0 10px;
 }
 .card .card-body {
  width: 100%;

 }
 .card .card-body .card-title {
  width: 100%;
  font-weight:700;
  color: rgba(51, 49, 44, 1);
  font-size: 24px;
  line-height: 35.98px;




 }
 .card .card-body .card-text {
  color: rgba(136, 141, 162, 1);
  font-weight: 400;
  line-height:24.66px;



 }
 .card .card-body .readMore {
  color:rgba(136, 141, 162, 1);
  font-weight: 700;
  line-height:  24.66px;


 }
 .displyMore {
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  color: rgba(63, 100, 171, 1);
  font-size: 16px;
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 8px;
  border: 1px solid rgba(63, 100, 171, 1);
  line-height: 29.98px;


 }
 .image-container {
  width: 100%;
  height: 50%;
 }
 .image-container img {
  border-radius: 10px;
  width: 500px;
  height: 300px;
 }

