.container-fluid
{
    padding-left: 6%;
    padding-right: 6%;
}
.trainingLines h5
{
    font-size: 16px;
    font-weight:500 ;
    color: #8A8A8A    ;
    line-height: 28px;
}
.trainingLines .trainingLinesContainer .trainingLinesBackground
{
    background-image: url('/assets/images/download.jfif');
    background-size: 100% 100% ;
    margin: 0;
    padding: 0;
    border-radius: 8px;
}
.trainingLines .trainingLinesContainer .trainingLinesBackground .trainingLinesOpacity
{
    background-color: #1F1F1F    ;
    opacity: 70%;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.trackIntro
{
    color: #F8F9F9;
    border-radius: 8px;
    padding: 10px;
}   
.trackIntro h3
{
    font-size: 32px;
    font-weight:600 ;
    color: white   ;
    line-height: 24px;
    z-index: 999;
    padding-bottom: 40px !important;
}
.trackIntro p
{
    font-size: 18px;
    font-weight:400 ;
    color: white    ;
    line-height: 29.7px;
    padding-bottom: 10px;
}
.goals p
{
    font-weight: 500;
    font-size:14px ;
    color: #AC7FB9    ;
    line-height: 26.24px ;
}
.goals i
{
    color: #AC7FB9;   
    font-size: 12px;
    margin-top: 6px;
    margin-left: 4px;
}
.lineOuts p
{
    color: #33312C;   
    font-size: 18px;
    font-weight: 400;
}
.coursesOut .row
{
    border-radius: 8px;
    border: 1px solid rgb(168, 167, 167);
    padding-top: 5px;
    margin-right:4px ;
}
.coursesOut .coursesImage
{
    background-color: black;
    width: 64px;
    height: 64px;
    border-radius: 8px;
}
.coursesOut .courseData h5
{
    color: #33312C;   
    font-size: 18px;
    font-weight: 600;    
}
.coursesOut .courseData 
{
    margin-right: 17% !important ;
}
.coursesOut .courseData p
{
    color: #33312C;   
    font-size: 16px;
    font-weight: 600;    
    line-height: 26.4px;
}
.coursesOut .showDetails
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.coursesOut .showDetails a 
{
    text-decoration: none;
    color: #AC7FB9    ;
    font-size: 18px;
    font-weight: 500;    
    line-height: 29.7px;
    padding: 4px 8px 4px 8px ;
    border-radius: 8px;
    border: 1px solid  #AC7FB9;
    gap: 10;
}
.trianerInfo p 
{
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 29.9px;
    color: black;
}
@media screen and (min-width: 768px )and (max-width:1140px)
{
   
 .col-md-6 .courseData
 {
    width: 150px !important;
    margin-right: 40% !important;
    padding: 0px !important;
    line-height: 20PX;
}
.col-md-6 .courseData h5,p
{
    font-size: 14px;    
}
.col-md-6 .showDetails a{
    
    width: 120px !important;
    line-height: 22px;
    gap: 8px !important;
    padding-right:  12px; ;
    font-size: 14px;    

}
}
@media screen and (min-width: 320px )and (max-width:766px)
{
    .col-md-6 .row
    {
        display: block;
    }
    .col-md-6 .row .col-md-1
    {
        width: 13%;
        
    }
    .col-md-6 .row .col-md-4
    {
        width: 40%;
    }

}