<div class="container-fluid py-5 trainingLines">
    <div class="row trainingLinesContainer">
            <div class="col-md-6">
                <div class="d-flex  py-2">
                    <h5>المسارات التعلمية /  </h5>
                    <h5 class="mx-2"> مسار السياحة   </h5>
                </div>
            </div>
            <div class="row trainingLinesBackground">
                <div class="trainingLinesOpacity  " >
                    <div class="trackIntro ">
                        <h3 class="py-4">مسار السياحة</h3>
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة  التي يقرأها هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة  التي يقرأها. هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة  التي يقرأها. هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة  التي يقرأها.</p>
                    </div>
                </div>
            </div>
    </div>

    <div class="row py-4">
        <h4>الأهداف</h4>
        <div class="col-md-2 px-2 mx-2 ">
            <div class="goals d-flex">
                <i class="fa-solid fa-circle-check"></i>
                <p>قادر علي مواكبة سوق العمل</p>
            </div>
        </div>
        <div class="col-md-2 px-2 mx-2">
            <div class="goals d-flex">
                <i class="fa-solid fa-circle-check"></i>
                <p>قادر علي مواكبة سوق العمل</p>
            </div>
        </div>
        <div class="col-md-2 px-2 mx-2">
            <div class="goals d-flex">
                <i class="fa-solid fa-circle-check"></i>
                <p>قادر علي مواكبة سوق العمل</p>
            </div>
        </div>
        <div class="col-md-2 px-2 mx-2">
            <div class="goals d-flex">
                <i class="fa-solid fa-circle-check"></i>
                <p>قادر علي مواكبة سوق العمل</p>
            </div>
        </div>
        <div class="col-md-2 px-2">
            <div class="goals d-flex">
                <i class="fa-solid fa-circle-check"></i>
                <p>قادر علي مواكبة سوق العمل</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="goals d-flex">
                <i class="fa-solid fa-circle-check"></i>
                <p>قادر علي مواكبة سوق العمل</p>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="lineOuts">
            <h4>مخرجات المسار</h4>
            <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة  التي يقرأها هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي  القارئ.</p>       
        </div>
    </div>
    
    <div class="row  py-5 "  >
        <h4 class="py-2">دورات المسار</h4>
        <div class=" col-md-6 col-xs-12 col-sm-12  coursesOut mb-3 ">
            <div class="row d-flex  pt-2">
                <div class="col-md-1 ">
                    <div class="coursesImage">
                    </div>
                </div>
                <div class="col-xs-12 col-md-4  offset-md-3    ">
                    <div class="courseData">
                        <h5>اسم الدورة</h5>
                        <div class="d-flex courseTime">
                            <p>14 يوم . </p>
                            <p>12 ساعة</p>
                        </div>
                    </div>
                </div>
                <div class=" col-xs-12 col-md-4  showDetails  ">
                    <a routerLink="/courses">عرض التفاصيل</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12 coursesOut mb-3 ">
            <div class="row d-flex   pt-2">
                <div class="col-md-1 ">
                    <div class="coursesImage">
                        
                    </div>
                </div>
                <div class="col-md-4 offset-md-3    ">
                    <div class="courseData">
                        <h5>اسم الدورة</h5>
                        <div class="d-flex courseTime">
                            <p>14 يوم . </p>
                            <p>12 ساعة</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 showDetails  ">
                    <a routerLink="/courses">عرض التفاصيل</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12 coursesOut mb-2 ">
            <div class="row d-flex   pt-2">
                <div class="col-md-1 ">
                    <div class="coursesImage">
                        
                    </div>
                </div>
                <div class="col-md-4 offset-md-3    ">
                    <div class="courseData">
                        <h5>اسم الدورة</h5>
                        <div class="d-flex courseTime">
                            <p>14 يوم . </p>
                            <p>12 ساعة</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 showDetails  ">
                    <a routerLink="/courses">عرض التفاصيل</a>
                </div>
            </div>
        </div>  
        <div class="col-md-6 col-xs-12 col-sm-12 coursesOut mb-3 ">
            <div class="row d-flex   pt-2">
                <div class="col-md-1 ">
                    <div class="coursesImage">
                        
                    </div>
                </div>
                <div class="col-md-4 offset-md-3    ">
                    <div class="courseData">
                        <h5>اسم الدورة</h5>
                        <div class="d-flex courseTime">
                            <p>14 يوم . </p>
                            <p>12 ساعة</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 showDetails  ">
                    <a routerLink="/courses">عرض التفاصيل</a>
                </div>
            </div>
        </div>
   


    </div>

    <div class="row py-3">
        <h4>مدربين المسار</h4>
        <div class="col-md-6 d-flex py-2">
            <a routerLink class="trianerInfo mx-2">
                 <img src="/assets/images/trainer1.png">
                <p>محمود مح</p>
            </a>
            <a routerLink="/trainer" class="trianerInfo mx-2">
                <img src="/assets/images/trainer2.png">
                <p>شهاب أحم.</p>
           </a>
           <a routerLink="/trainer" class="trianerInfo mx-2">
                <img src="/assets/images/trainer3.png">
                <p>سيد أحمد</p>
            </a>
            <a routerLink="/trainer" class="trianerInfo mx-2">
               <img src="/assets/images/trainer4.png">
               <p>عبدالرحمن ع.</p>
            </a>
            <a routerLink="/trainer" class="trianerInfo mx-2">
                 <img src="/assets/images/trainer5.png">
                <p>عبدالله عبدا.</p>
            </a>
        </div>
    </div>
</div>
